*{
    padding: 0;
    margin: 0;
    background-repeat: repeat-x;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif, Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
}
body{
    display:flex;
    justify-content: center;
    text-align: center;
}
.screen{
    min-width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom left, rgb(0, 243, 117), rgb(205, 46, 230) 50% ,rgb(8, 63, 173));
}
.main{
    width: 22rem;
    height: 30rem;
    border-radius: 8%;
    background-image: linear-gradient(to bottom right, rgb(56, 200, 164) 14% , rgb(225, 0, 255));
    box-shadow: 10px 10px 50px 0px #303030;
}
.sear{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.tex{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 10px;
    justify-content: left;
    margin-top: 2rem;
    margin-left: .5rem;
    outline: none;
    text-align:start;
    border: none;
    font-size: 16px;
    width: 14rem;
    height: 2.5rem;
    border-radius: 25px;
  }
  .lens{
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-image: url(sear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .clou{
    display: none;
  }

  .cloudi{
    width: 14rem;
    height: 10rem;
    margin-top: 1rem;
    margin-left: 1.5remrem;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .temp{
    margin-top: 2rem;
    font-size: 50px;
    color: white;

  }
  .city{
    color:white;
  }
  .details{
    margin-top: 3rem;
    color: white;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
  }
  .col{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
  }
  .windi{
    height: 3rem;
    width: 3rem;
    background-image: url(rain.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .humii{
    height: 3rem;
    width: 3rem;
    border: none;
    background-image: url(humii.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .error{
    text-align:center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
    font-size: 40ox;
    margin-top: 10px;
    color:white;
    display: none;
  }